@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: thin;
  font-style: thin;
}

body {
  /* color: black; */

  background-color: white;
  font-family: 'MBC1961GulimM', sans-serif;

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
}

.admin__input-field {
  @apply outline-none h-10 border-b border-black mb-14 text-lg;
}

.admin__label-field {
  @apply text-xl  mt-10;
}

.admin__button-field {
  @apply pb-10;
}

.main__tabs-field {
  @apply flex gap-3 items-center cursor-pointer hover:text-zinc-500;
}

.review__button-field {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}
